<div class="body">
  <div class="card">
    <div class="header">
     <h4>Shopping Cart :
       <span id="tot">
       0
       </span>$</h4>
    </div>
    {{#each cartProducts}}
    <div class="product">
      <div>
      </div>
      <div>        
        <img width="120"height="100" class="img" src="{{this.thumbnail}}" alt="">
      </div>
      <div class="disc">
        <div class="name">{{this.title}}</div>
        <div class="color">{{this.category}}</div>
        
      </div>
      <div class="quant">
        <span class="minus">-</span>
        <span class="qt">1</span>
        <span class="plus">+</span>
      </div>
      <div>
        <h4 class="price">
          {{this.price}}$
        </h4>
        <h4 class="pu" >{{this.price}}</h4>
        
      </div>
        <div class="op">
        <span class="remove">remove</span>
          </div>
      
    </div>
    {{/each}}
  </div>
</div>

<style>
  .qt{
    margin-top: 4px;
  }
  body{
    margin:0;
  font-family:arial;
    background:#d7dbe0;
  }
  .card{
    border-radius:10px;
    background:white;
    
    width:800px;
    border:1px solid #e3e6ea;
   margin:auto;
    margin-top:30px;
    margin-bottom: 30px;
  }
  .header{
    width:90%;
    color:#5E6989;
    font-size:22px;
    text-align: center;
  
    padding:0 5%;
    
  }
  
  .product{
    display:flex;
    width:90%;
    align-items:center;
    justify-content:space-between;
    padding:2% 5%;
    border-top:1px solid  #e3e6ea;
    
    
  }
  .quant{
    display:flex;
    justify-content:space-between;
    width:90px;
    
  }
  .pu{display:none;}
  .remove{
    text-align: center;
  }
  .op{
    text-align: center;
  float: right;
  display: inline-block;
  height: 20px;
  width: 100px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
  }
  img{background:#F7F7F9;}
  .name{
    font-size:18px;
    margin-bottom:10px;
    color:#525354;
  }
  .color{
    color:darkgray;
    font-weight:10;
  }
  .plus,.minus{
    color:#AAB8C2;
    font-size:28px;
    background:#E1E8EE;
  width:25px;
    height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
  cursor:pointer;
  }
  .price{
    font-weight:100;
    font-size:20px;
    color:gray;
    
  }
  .red{
      color:red
  }
</style>

<script>

  let products = document.getElementsByClassName("product");

  function sum() {
  let sum = document.getElementById("tot");
  let arr = document.getElementsByClassName("price");
  sum.innerText = 0;
  for (x of arr) {
    let txt = x.innerText;
    sum.innerText =
      Number(sum.innerText) + Number(txt.substring(0, txt.length - 1));
  }
}
  sum();

  for (let i = 0; i < products.length; i++) {
    let elem = products[i];
    let pu = elem.querySelector(".pu").innerText;
    elem.addEventListener("click", e => {
      switch (e.target.className) {
        case "fas fa-heart":
        case "fas fa-heart red":
          e.target.classList.toggle("red");
        break;
        case "remove":
          elem.remove();
        break;
        case "plus":
          elem.querySelector(".qt").innerText++;
          elem.querySelector(".price").innerText =
          pu * elem.querySelector(".qt").innerText + "$";
          sum();
        break;
        case "minus":
          if (elem.querySelector(".qt").innerText > 0) {
            elem.querySelector(".qt").innerText--;
            elem.querySelector(".price").innerText =
            pu * elem.querySelector(".qt").innerText + "$";
          sum();
        }
        break;
    }
  });
}

</script>
