<div>
    <h1 class="product-list">Lista de Productos</h1>

    <table class="product-list">
        <tr>
            <th>Título</th>
            <th>Description</th>
            <th>Code</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Miniatura</th>
        </tr>
        {{#if products.length}}
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}}></td>          
        </tr>
        {{/each}}
        {{/if}}
    </table>
</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }
    .title{
        text-align: 100%;
    }
</style>

<script src="js/main.js"></script>